<h1>Flats</h1>

<div>
  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.price_per_night %></p>
  <p><%= @flat.number_of_guests %></p>
</div>

<div>
  <%= link_to 'Remove', flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div>
  <%= link_to 'Edit', edit_flat_path(@flat) %>
</div>
